*.data
*\.data
*.DS_store
*.swp
*\.swp
*.op.gz
*.log
*\.log
*.tar

includes/climateViz/php/data/noaa/data_file_cache/offline/gsod/1991/.listing

includes/climateViz/php/data/noaa/data_file_cache/offline/gsod/1990/.listing
*.php~

includes/climateViz/php/settings.php

includes/srv/settings.php
