.widget.dataSelect {
  background-color: white;
  border: 1px solid grey;
  height: auto;
  margin: 0 auto;
  overflow: visible;
  padding: 10px 10px 1.85em;
  position: relative;
  text-align: center;
  width: auto;
}

.dataSelect-tooltip {font-size:8pt !important; display: none; width: 80px; background-color: #dbd3c1 !important; background-image: none !important; border: none !important; position: fixed !important;}
.widget.dataSelect .widget-cover { height: 400px; width: 100%; background-color: transparent; display: none; z-index: 98; top: 0; left: 0; position: absolute;}
.widget.dataSelect .calendar-cover { height: 36px; width: 100%; background-color: transparent; display: none; z-index: 100; bottom: 0; left: 0; position: absolute; cursor:not-allowed;}
.widget.dataSelect .map-canvas { height: 400px; width: 100%; }

.widget.dataSelect .map-info {
  background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 2px grey;
  padding: 0.25em 10px;
  position: absolute;
  bottom: .75em;
  left: 150px;
  height: .85em;
  font-size: 92%;
}
.widget.dataSelect .map-info .full-width .lat , .widget.dataSelect .map-info .full-width .lng , .widget.dataSelect .map-info .full-width .elev { text-align: left; display: inline-block; width: 4.5em; }
.widget.dataSelect.width-200 .full-width  { display: none; }
.widget.dataSelect .map-info .restricted-width { margin-left: -15px; display: none; }
.widget.dataSelect.width-200 .map-date {left: 28px;}
.widget.dataSelect.width-200 .map-info .restricted-width { display: none; }

.widget.dataSelect .map-date {
  position: absolute;
  //width: 95%;
  bottom: .25em;
  right: 0px;
	z-index: 99;
  /* padding: .25em 10px; */
}

/*.widget.dataSelect .map-reset {
  position: absolute;
  bottom: 11px;
	height: 22px;
	background-color: #eb9999;
	border-radius: 5px;
	left:5px;
}
.widget.dataSelect .map-reset:hover{
	background-color: #EFADAD;
}*/

.widget.dataSelect .map-reset {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	//border:3px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	left:5px;
	bottom: 12px;
	height: 20px;
	width:20px;
	position:absolute;
}
.widget.dataSelect .map-reset :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.widget.dataSelect .map-reset:active {
	bottom:11px;
}


.widget.dataSelect .map-date .toggle {
  background-image: url("media/calendar.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  background-size: 18px;
  cursor: pointer;
  
  background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 2px grey;
  padding: .25em;
  position: absolute;
  width: 1.6em;
  height: 1.2em;
  bottom: 0px;
  right: 10px;
}

.widget.dataSelect .map-date .datepicker, .widget.dataSelect .map-date .visual-control {
  position: absolute;
  font-size: 80%;
  overflow: none;
  bottom: 25px;
  box-shadow: 0px 0px 2px gray;
  right: 2px;
  background-color: white;
}
.widget.dataSelect .map-date .datepicker, .widget.dataSelect .map-date .visual-control.inline .datepicker {
  position: absolute;
  bottom: 28px;
  right: 0px;
}
.widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker { min-height: 198px;  }
//.widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker-inline, .widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker-inline table { background-color: #D0DBE5; }
.widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker-inline, .widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker-inline table { background-color: #e4e9ca; padding: 0 }
.widget.dataSelect .map-date .visual-control .datepicker .ui-datepicker-inline .ui-datepicker-header { background-color: #dbd3c1; background-image: none; }

.widget.dataSelect .map-date .datepicker, .widget.dataSelect .map-date .visual-control.inline {
  position: static;
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
}
.widget.dataSelect .map-date .datepicker.fullwidth {
  left: 2px;
}
.widget.dataSelect .map-date .datepicker .ui-datepicker-group {
	margin: 0px 2px;
}

.ui-datepicker { font-size: 88%; }
.ui-datepicker.hideYear .ui-datepicker-year { display:none; }
.ui-datepicker .selected a { background-color: #99ccff; background-image: none; }
.hasDatepicker.hideNav .ui-datepicker-prev, .hasDatepicker.hideNav .ui-datepicker-next { display: none; }

.widget.dataSelect .map-date .input input { text-align: center; display: inline; }
.widget.dataSelect .map-date .input .date-label { text-align: right; display: inline; }

/* styles for date control "month-day" selection */
.widget.dataSelect .map-date.month-day { max-width: 200px; }
.widget.dataSelect .map-date.month-day .title { background-color: #cce0ff; }
.widget.dataSelect .map-date.month-day input { width: 95%; margin: .15em 0em; }
.widget.dataSelect .map-date.month-day .visual-control .datepicker { position: static; }

/* styles for date control "month-day-alt" selection */
.widget.dataSelect .map-date.month-day-alt { max-width: 200px; text-align: right; }
.widget.dataSelect .map-date.month-day-alt > * { text-align: left;}
.widget.dataSelect .map-date.month-day-alt .toggle, .widget.dataSelect .map-date.month-day-alt .date-selection { position: static; display: inline-block; }
.widget.dataSelect .map-date.month-day-alt .input input { width: 6.75em; text-align: right; min-width: 3.25em; padding: .15em 26px .15em .25em; background-color: transparent; border: none; height: 18px; border: 2px solid transparent; border-radius: 10px 2px 2px 10px; }
.widget.dataSelect .map-date.month-day-alt > div:hover .input input , .widget.dataSelect .map-date.month-day-alt .input input:focus { background-color: rgba(72,116,192,.1); }
.widget.dataSelect .map-date.month-day-alt .toggle { margin-left: -30px; }

/* styles for date control "year-month-day-range" selection */
.widget.dataSelect .map-date.year-month-day { /*max-width: 180px;*/ text-align: right; }
.widget.dataSelect .map-date.year-month-day > * { text-align: left; }
.widget.dataSelect .map-date.year-month-day .input { display: inline-block; }
.widget.dataSelect .map-date.year-month-day .toggle  { position: static; display: inline-block; margin-bottom: -4px; }
.widget.dataSelect .map-date.year-month-day .input input { width: 70px; text-align: left; min-width: 3.25em; padding: .15em .25em; background-color: transparent; border: none; border: 2px solid transparent; border-radius: 10px; height: 1.5em }
.widget.dataSelect .map-date.year-month-day .visual-control { height: 20px; padding: 2px; background-color: transparent; border-radius: 10px; overflow: hidden; }
.widget.dataSelect .map-date.year-month-day > div:hover .input input , .widget.dataSelect .map-date.year-month-day .input input:focus { background-color: rgba(72,116,192,.1); }



/* styles for date control "year-month-day-range" selection */
.widget.dataSelect .map-date.year-month-day-range { max-width: 400px; }
.widget.dataSelect .map-date.year-month-day-range .title { background-color: #cce0ff; }
.widget.dataSelect .map-date.year-month-day-range .input input { width: 95%; margin: .15em 0em; }
.widget.dataSelect .map-date.year-month-day-range .visual-control .datepicker { position: static; }
.widget.dataSelect .map-date.year-month-day-range .visual-control .start-date , .widget.dataSelect .map-date.year-month-day-range .visual-control .end-date { display: inline-block; }

/* styles for date control "year-month-day-range-alt" selection */
.widget.dataSelect .map-date.year-month-day-range-alt { max-width: 400px; text-align: right; }
.widget.dataSelect .map-date.year-month-day-range-alt > * { text-align: left; }
.widget.dataSelect .map-date.year-month-day-range-alt .input { display: inline-block; }
.widget.dataSelect .map-date.year-month-day-range-alt .toggle , .widget.dataSelect .map-date.year-month-day-range-alt .start-date, .widget.dataSelect .map-date.year-month-day-range-alt .end-date { position: static; display: inline-block; }
.widget.dataSelect .map-date.year-month-day-range-alt .input input { width: 5em; text-align: center; min-width: 3.25em; padding: .15em .25em; background-color: transparent; border: none; border: 2px solid transparent; border-radius: 10px; height: 1.5em }
.widget.dataSelect .map-date.year-month-day-range-alt .input.active input { background-color: rgba(255, 255, 168, 0.3) }
.widget.dataSelect .map-date.year-month-day-range-alt .visual-control { height: 20px; padding: 2px; background-color: transparent; border-radius: 10px; overflow: hidden; }
/*.widget.dataSelect .map-date.year-month-day-range-alt .visual-control:hover { background-color: rgba(72,116,192,.1); }*/
.widget.dataSelect .map-date.year-month-day-range-alt .toggle { margin-bottom: -4px; }




/* styles for date control "year-month-day-range-double" selection */
.widget.dataSelect .map-date.year-month-day-range-double { /*max-width: 400px;*/ text-align: right; }
.widget.dataSelect .map-date.year-month-day-range-double > * { text-align: left; }
.widget.dataSelect .map-date.year-month-day-range-double .input { display: inline-block; }
.widget.dataSelect .map-date.year-month-day-range-double .toggle { position: static; display: inline-block; }
.widget.dataSelect .map-date.year-month-day-range-double .input input { width: 70px; text-align: left; min-width: 3.25em; padding: .15em .25em; background-color: transparent; border: none; border: 2px solid transparent; border-radius: 10px; height: 1.5em }
.widget.dataSelect .map-date.year-month-day-range-double .input.active input { background-color: rgba(255, 255, 168, 0.3) }
.widget.dataSelect .map-date.year-month-day-range-double .visual-control { height: 20px; padding: 2px; background-color: transparent; border-radius: 10px; overflow: hidden; }
//.widget.dataSelect .map-date.year-month-day-range-double .visual-control .input input :hover { background-color: rgba(72,116,192,.1); }
//.widget.dataSelect .map-date.year-month-day-range-double .visual-control .input .toggle :hover { background-color: rgba(72,116,192,.1); }
.widget.dataSelect .map-date.year-month-day-range-double .toggle { margin-bottom: -4px; }
.widget.dataSelect .map-date.year-month-day-range-double .toggle.end-toggle { background-image: url("media/calendar-orange.png"); }
//.widget.dataSelect .map-date.year-month-day-range-double .datepicker td a, .widget.dataSelect .map-date.year-month-day-range-alt .datepicker .ui-datepicker-header { border: 1px solid #8f4600 !important; }
//.widget.dataSelect .map-date.year-month-day-range-double .datepicker td a, .widget.dataSelect .map-date.year-month-day-range-alt .datepicker .ui-datepicker-header { border: 1px solid #006290 !important; }
.widget.dataSelect .map-date.year-month-day-range-double .datepicker .ui-datepicker-header { border: 2px solid #006290 !important; }
.widget.dataSelect .map-date.year-month-day-range-double .datepicker.end-active .ui-datepicker-header { border: 2px solid #8f4600 !important; }


/* styles for date control "year" selection */
.widget.dataSelect .map-date.year { max-width: 200px; text-align: right; }
.widget.dataSelect .map-date.year > * { text-align: left; }
.widget.dataSelect .map-date.year .visual-control { height: 20px; padding: 2px; background-color: transparent; border-radius: 10px; overflow: hidden; }
.widget.dataSelect .map-date.year .input { display: inline-block; }
.widget.dataSelect .map-date.year .input input { width: 5em; text-align: center; min-width: 3.25em; padding: .15em .25em; background-color: transparent; border: none; border: 2px solid transparent; border-radius: 10px; height: 1.5em }
.widget.dataSelect .map-date.year .input.active input { background-color: rgba(255, 255, 168, 0.3) }
.widget.dataSelect .map-date.year .toggle, .widget.dataSelect .map-date.year .date-selection { position: static; display: inline-block; }
.widget.dataSelect .map-date.year .datepicker { height: 150px; width: 150px; background-color: white; overflow: auto; border: 1px solid #808080; box-shadow: 1px 1px 2px #808080; padding: 0.15em; background-color: #f0faff; }
.widget.dataSelect .map-date.year .datepicker a { display: inline-block; width: 3.5em; text-align: center; padding: .25em .15em; margin: .15em; border: 1px solid gray; border-radius: 5px; cursor: pointer; background-color: white; }
.widget.dataSelect .map-date.year .datepicker a:hover , .widget.dataSelect .map-date.year .datepicker a.selected { background-color: #ccf0ff; }
.widget.dataSelect .map-date.year .toggle { margin-bottom: -4px; }

/* styles for date control "year-alt" selection */
.widget.dataSelect .map-date.year-alt { max-width: 200px; text-align: right; }
.widget.dataSelect .map-date.year-alt > * { text-align: left; }
.widget.dataSelect .map-date.year-alt .visual-control { height: 20px; padding: 2px; background-color: transparent; border-radius: 10px; overflow: hidden; }
.widget.dataSelect .map-date.year-alt .input { display: inline-block; }
.widget.dataSelect .map-date.year-alt .input select { width: 5em; text-align: center; min-width: 3.25em; padding: .15em .25em; background-color: transparent; border: none; border: 2px solid transparent; border-radius: 10px; }

