.widget.statspanel {
	position: relative;
}

.widget.statspanel table {
	border: 1px solid #666;
	border-collapse: collapse;
	width: 100%;
}
.widget.statspanel table th,
.widget.statspanel table td {
	padding: .25em;
	border: 1px solid #666;
	vertical-align: top;
	text-align: left;
}
.widget.statspanel table td .legend {
	font-size: 78%;
	color: #666666;
}
.widget.statspanel table .tempavg .minmax {
	display: inline-block;
	font-size: 76%;
	vertical-align: middle;
	margin: 0em 1em;
}
.widget.statspanel table .sunAngle img {
	width: 250px;
}

.widget.statspanel table .sunAngle td {
	position: relative;
}

.widget.statspanel table .sunAngle .angle-val.positioned {
	background-color: rgba(255,255,255,0);
	padding: 3px;
	border-radius: 6px;
}

.widget.statspanel .readings-note {
	font-size: 78%;
	font-style: italic;
}
.widget.statspanel .loading {
	width: 100%;
	height: 100%;
	background-image: url(media/ajax-loader.gif);
	background-color: rgba(255,255,255,.6);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.widget.statspanel .error {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
    min-height: 200px;
}
