/* General Style Info */
body {
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:90%;
	margin: 0px;
	padding: 0px;
	color: #333333;
}
a, a.hinted {
	color: #003399;
	text-decoration:none;
}
a.hinted:visited {
	color: #660066;
}
a .hinted {
	text-decoration:underline;
}
a:hover {
	text-decoration: underline;
}
a img {
	border:none;
}
fieldset {
	margin: 1em 0em;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin: .85em 0em .5em 0em;
}
h1 {
	font-size: 190%;
}
h2 {
	font-size: 145%;
	font-weight: bold;
}
h3 {
	font-size: 115%;
	font-weight: bold;
}
h4 {
	font-weight: bold;
	font-size: 100%;
}
li
{
}
table
{
	border-collapse: collapse;
	margin: 1em 0em;
}
table.demographics td {
	border-right: 1px solid #e0e0e0;
}
table.demographics td:last-child {
	border: none;
}
table.demographics td > p:first-child {
	margin-top: 0em;
}
caption
{
	font-weight: bold;
	text-align: left;
	margin-bottom: .15em;
}

/* Layout */
.site-header {
	max-width: 954px;
	cursor: pointer;
	overflow: hidden;
	margin: 0px auto;
	background-color: #005295;
	border: 4px solid #6699cc;
	text-align: right;
}
.site-header .logo {
	float: left;
	padding: 0em 0em .25em .5em;
	margin: 0em;
	padding: 0px 6px 0px 0px;
	background-color: #6699cc;
}
.site-header h1 {
	color: #ffffff;
	font-variant: small-caps;
	font-weight: normal;
	margin: 0em;
	padding: .15em .5em;
}
.site-header h1 sup {
	font-size: 50%;
	font-style: italic;
	font-variant: normal
}

.site-nav-panel
{
	padding: 0em;
	max-width: 960px;
	margin: 0px auto;
	color: #305a70;
	font-size: 78%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	border-left: 1px solid #f0faff;
	border-right: 1px solid #f0faff;
	border-top: 1px solid #336699;
	background-color: #ffffff;
}
.site-nav-panel .navigation
{
	float: left;
	text-align: left;
}
.site-nav-panel .navigation ul,
.site-nav-panel .navigation li,
.site-nav-panel .navigation p
{
	list-style-type: none;
	display: inline-block;
	padding: 0em .15em;
	margin: 0em;
	font-size: 105%;
	float: left;
}

.site-nav-panel .navigation a
{
	display: block;
	background-color: #e0eaf0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 2px solid #e0eaef;
	border-top: none;
	border-bottom: 2px solid #d0dadf;
	border-top: none;
	padding: .15em .5em;
	color: inherit;
}
.site-nav-panel .navigation a:hover {
	text-decoration: none;
	color: #002050;
	line-height: 1.65em;
}
.site-nav-panel .navigation .selected a {
	font-weight: bold;
	line-height: 1.8em;
}

#userControls {
	padding: .25em .75em;
	max-width: 960px;
	margin: 0px auto .85em auto;
	text-align: right;
	color: #305a70;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	overflow: visible;
}
#userControls a, #tools a {
	color: inherit;
}
#userControls a:hover, #tools a:hover {
	color: #002050;
	text-decoration: underline;
}

#body {
	border-left: 1px solid #f0faff;
	border-right: 1px solid #f0faff;
	margin: 0em auto;
	background-color: #f0faff;
	max-width: 960px;
	position: relative;
	clear: both;
}
#body.assessment {
	font-size: 110%;
}
#content{
	background: #fff;
	color: #333;
	padding: 10px 35px;
	margin: 0em;
}

#footer {
	clear: both;
	padding: 2px 10px;
	text-align: center;
	font-size: 88%;
	max-width: 940px;
	margin: 0px auto 5px auto;
	background-color: #e0eaef;
	border-top: 2px solid #f0faff;
}

#adminbar {
	clear: both;
	padding: 2px 10px;
	font-size: 88%;
	max-width: 940px;
	margin: 0px auto 0px auto;
	background-color: #e0d0b0;
}

.storyEditor > div.storyEditorView {
	background-image: url(../img/b_edit_trans.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin-left: -20px;
	padding-left: 20px;
	border: 1px solid #ffffff;
}
.storyEditor > div.storyEditorView:hover {
	background-image: url(../img/b_edit.png);
	border: 1px dashed #999999;
	background-color: #fafaff;
}
.storyEditor > div.active {
	display: block;
}
.storyEditor > div.inactive {
	display: none;
}
.storyEditor .seNote {
	color: #d0d0d0;
}

#authMessage
{
}
div.message
{
	margin: 1em auto;
	width: 80%;
	padding: .5em;
	border: 1px solid #330000;
	text-align: center;
	font-size: 110%;
	background-color: #fffff0;
	color: #330000;
	
}
.message-general
{
	background-color: #FFFFF0;
	color: #333333;
	font-weight: bold;
	padding: 0.5em 1em;
}

.assessments.create .input input + label
{
	padding: 0em .25em 0em .75em;
}
.assessments.create .input .checkbox input + label
{
	padding: 0em .25em 0em 0em;
}
.assessments.create .input.textarea
{
	float: none;
}

.input + p {
	clear: both;
}


dd.topic { display: none; }
dd.topic.selected { display: inherit; }
.difficulty { margin-left: 3em; }
.difficulty > div { display: inline; }
.difficulty { display: none; }
.difficulty.selected { display: block; }

#filters { float: right; border: 1px dashed #c0eae0; background-color: #e0eaef; width: 30%; padding: 1em .5em; font-size: 85%; }
#filters ul, #filters li { display: block; margin: .5em; text-indent: 0em; padding: 0em; }

.assessments.create #itemlist {
	padding: 0em;
	border: 1px solid #999999;
	width: 95%;
	margin: 0em auto;
}
.assessments.create #itemlist table {
	width: 100%;
	margin: 0em;
	border-width: 0px;
}
#itemList table { margin-top: 1em; border-collapse: collapse; border-top: 1px solid #999999; border-bottom: 1px solid #999999; }
#itemList table + table { margin-top: 2.5em;}
#itemList tr:hover td { background-color: #f0f0f0; }
#itemList td { line-height: 125%; }
#itemList td a { text-decoration: none; color: #333333; }
#itemList td a.hinted { color: #003399; }
#itemList td a.hinted:visited { color: #660066; }
#itemList tr:hover a.hinted { text-decoration: underline; }
#itemList td, #itemList th { margin: 0em; padding: .15em .5em; }
#itemList th { border-bottom: 1px solid #999999; }
#itemList th p, #itemList td p { margin: .15em 0em 0em 0em; padding: .25em; }
#itemList td p a { display: block; }
#itemList .ui-helper-reset { list-style-type: circle; }
#itemList .ui-accordion-content li { margin: .25em 0em; }
#itemList .ui-accordion-content, #itemList .ui-widget-content { background-image: none; background-color: none; }
#itemList .ui-accordion-content { padding-top: 0em; }
#itemList .view-options { float: right; margin: 0em; font-size: 78%; }
#itemList .view-options + * { clear: both }
#itemList h4 { border-radius: 4px; margin: 1.65em 0em 0em 0em; padding: 0.35em; border-left: 1px solid #daeaf0; border-right: 1px solid #daeaf0; border-top: 1px solid #daeaf0; }
#itemList h4 { background-color: #e0f0ff; box-shadow: 1px 1px 2px #A7CBE9; }
#itemList h4 a { color: #333333; text-decoration: none; display: block; }
#itemList .ideaInfo {
	margin: 1.5em 0em;
}

.table-notes
{
	margin-top: .5em;
	font-size: 82%;
}
.table-legend {
	margin-top: .5em;
	font-size: 82%;
	text-align: center;
}
.table-legend > div {
	display: inline-block;
	border: 1px solid #999999;
	background-color: #f0f0f0;
	padding: .25em .5em;
	text-align: left;
	vertical-align: middle;
	opacity: .4;
	margin: .25em 1em;
	cursor: pointer;
}
.table-legend > div.active {
	opacity: 1;
	background-color: #ffffcc;
}

.itemAnswers li input[type='radio'] {
	margin: 0 2em 0 -3.25em;
}

#paging { text-align: center; }
#paging .disabled { display: inline; }
div.paging {
	color: #333333;
	margin-bottom: 2em;
	overflow: hidden;
}
div.paging .counter {
	float: left;
	width: 40%;
}
div.paging .nav {
	text-align: right;
	float: right;
	width: 40%;
}
table.list .sortby .label {
	padding-left: 18px;
	background-position: center left;
	background-repeat: no-repeat;
}
table.list .sortby.asc .label {
	background-image: url(../img/Iconic/gray_light/arrow_up_alt1_16x16.png);
}
table.list .sortby.desc .label {
	background-image: url(../img/Iconic/gray_light/arrow_down_alt1_16x16.png);
}

.cell { display: table-cell; }

#itemContainer { overflow: auto; background-color: #e0f0ff; }
#itemContent { background-color: #ffffff; border: 3px solid #e0f0ff; padding: 1em; margin-right: 175px; overflow: auto; }
#itemContent.cell { overflow: auto; width: 600px; margin-right: 250px; }
.jumpbar { margin: .25em .5em; padding: .25em .5em; text-align: center; }
.jumpbar .navItem , .jumpnav .navItem { margin: .35em; cursor: pointer; font-size: 92%; background-color: white; padding: .25em .5em; border: 1px solid #cccccc; color: #333333; }
.jumpbar .navItem:hover , .jumpnav .navItem:hover { text-decoration: underline; }
.jumpbar .navItemSelected , .jumpnav .navItemSelected { background-color: #ccffee; font-weight: bold; }
#itemAnswerSelection { background-color: #e0f0ff; padding: 1em; width: 175px; float: right; }
#itemAnswerSelectionBottom { background-color: #e0f0ff; padding: .25em; }
#itemAnswerSelectionBottom.float { position: fixed; bottom: 0px;   }
#item-metadata dl, #itemMetadata dt, #itemMetadata dd { margin: 0em; padding: 0em; }
#item-metadata dt { display: block; margin: .5em 0em; font-weight: bold; font-variant: small-caps; }
#item-metadata dd { display: block; margin: .5em; }
#item-metadata dl dl dt { display: block; font-weight: normal; margin-left: 0em; font-variant: small-caps; }
#item-metadata dl dl dd { display: block; margin-left: .65em; }
#itemStory > div { border: 2px solid #e0f0ff; padding: 1em; }
#itemStory .storyEditor > div.storyEditorView { margin-left: 0px; }
#itemTesting > div { border: 2px solid #e0f0ff; padding: 1em; }
#itemTesting > div h3, #itemTesting > div h4 { margin: .5em 0em; padding: 0em; } 
#itemTesting > div dl, #itemTesting > div dt, #itemTesting > div dd, #itemTesting > div ul, #itemTesting > div li { margin: 0em; padding: 0em; }
#itemTesting > div dt { margin: .5em 0em; font-weight: bold; font-variant: small-caps; }
#itemTesting > div dd { margin: .5em; font-size: 88%; }
#itemTesting > div dl { overflow: auto; margin: 0em; padding: 0em; }
#itemTesting > div dt { clear: both; font-weight: bold; float: left; padding: .25em; text-align: right; margin: 0em 0em 0em .5em; color: #403030; }
#itemTesting > div dd { float: left; text-align: left; padding: .25em; margin: 0em 1em 0em .25em; }

.jumpbar .navItem.nav-item-answered { opacity: .4; }
.jumpbar .navItem.nav-item-answered:hover { opacity: 1; }
.jumpbar .navItem.nav-item-unanswered { background-color: #ffcc33; font-weight: bold; border-width: 2px; }

#itemContent a { color: #0000FF; }
#itemContent h3 { color: #000080; }
#itemContent sup, #itemContent sub { line-height: .25em; font-size: .75em; font-weight: normal; }
#itemContent ol.item-answers { margin-top: 12pt; }
#itemContent li { margin-top: 6pt; margin-bottom: 6pt; }
#itemContent li > p:first-child { margin-top: 0em; margin-bottom: 0em; }

#itemContent > .review-item { background-color: #F0F6FA; margin-bottom: 2em; overflow: hidden; }
#itemContent > .review-item > .content { padding: 1em; }
#itemContent > .review-item > .identifier { background-color: #C0CACA; color: #003333; float: right; font-size: 88%; font-weight: bold; margin-bottom: 5px; margin-right: 5px; padding: 0.25em; text-align: center; }

table.recordList {
	border: 1px solid #999999;
	margin: 1em auto;
	width: 92%;
}
table.recordList th {
	border-bottom: 1px solid #999999;
	padding: 0em; 
	border-left: 1px solid #999999;
	background-color: #c0d0f0;
}
table.recordList th > * {
	padding: .25em .5em;
	display: block;
	text-decoration: none;
}
table.recordList th a:hover {
	background-color: #d0e0f0;
}
table.recordList th:first-child {
	border-left: none;
}
table.recordList td {
	padding: .25em .5em; 
	border-left: 1px solid #999999;
}
table.recordList tr.altrow td {
	background-color: #f0faff;
}
table.recordList td:first-child {
	border-left: none;
}

#panelOpts {
	margin: 1em auto;
	text-align: center;
}
#panelOpts div {
	display: inline-block;
	margin: .5em 1em;
	background-color: #daeafa;
	height: 210px;
	width: 290px;
	overflow: hidden;
	border-radius: 15px;
}
#panelOpts div img {
	min-height: 165px;
}
#panelOpts div input[type='image'] {
	position: absolute;
	vertical-align: middle;
	display: block;
	text-align: center;
	text-decoration: none;
	height: 210px;
	width: 290px;
}

.panelNav
{
	margin: 1em auto;
	text-align: center;
	vertical-align: middle;
}
.panelNav table
{
	margin: auto;
}
.panelNav div
{
	display: inline-block;
	margin: .5em 1em;
	background-color: #daeafa;
	width: 20em;
	overflow: hidden;
	border-radius: 15px;
	padding: 1em 1.5em;
	color: #000033;
	min-height: 10em;
}
.panelNav h3
{
	font-variant: small-caps;
	font-size: 120%;
	margin: 0em;
	padding: 0em;
	color: #000000;
}
.panelNav h3 + p
{
	margin: 2.5em 0em;
}
.panelNav a.button
{
	margin: 1.5em 0em;
	font-size: 120%;
}
.panelNav form
{
	font-variant: normal;
	font-size: 88%;
	font-weight: normal;
}
.panelNav form label
{
	float: left;
	text-align: right;
	width: 5em;
	overflow: hidden;
	clear: both;
	margin: .25em .25em;
}
.panelNav form input
{
	margin: .25em;
}
.panelNav form input[type='submit']
{
	float: right;
	margin-right: 1em;
}

.labelColumn.error label {
	font-weight: bold;
}
.labelStacked {
	margin: 1em 0em;
}
.labelStacked textarea {
	margin-left: 3em
}
.error-message, .error-message-right {
	clear:both;
	color:#990000;
	font-weight:bold;
}
.labelStacked .error-message {
	padding: .5em;
	border: 1px solid #ffcccc;
	background-color: #fff0f0;
	margin: .5em;
}
.labelColumn .error-message, .labelStacked .error-message-right {
	padding: .5em;
	border: 1px solid #ffcccc;
	background-color: #fff0f0;
	margin: .5em .5em .5em 1em;
	float: right;
	width: 20em;
}
.labelColumn label {
	display: block;
	float: left;
	width: 8em;
}
.labelColumn + * {
	margin-top: 1.5em;
	clear: both;
}
.labelSideBySide .optionGroup {
	float: left;
	text-align:center;
	padding: 0em 1em;
}
.labelSideBySide + * {
	clear: both;
}
.labelStacked .optionGroup {
	margin: .25em 1em;
}

#topicList ul,
#topicList li
{
	list-style-type: none;
	margin: .65em 0em .65em .5em;
	padding: 0em;
}
#topicList li p
{
	margin: 0em;
}
#topicList .restricted a
{
	color: #660000;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-state-active,
.ui-widget-content .ui-state-active
{
	background-image: none !important;
}

div.adminpanel
{
	font-size: 88%;
	border: 1px inset #9999cc;
	padding: .5em;
	background-color: #e0f0ff;
	margin: 2em;
}
div.adminpanel .title
{
	margin: -.5em -.5em 1em -.5em;
	background-color: #ccddee;
	padding: .25em;
	border-bottom: 1px solid #bbccdd;
}
div.adminpanel .title a
{
	display: block;
	float: right;
	text-decoration: underline;
	color: #406080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 78%;
	font-variant: small-caps;
}

.utilitylink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 78%;
	margin: 0em;
	text-align: center;
}
.utilitylink a {
	text-decoration: underline;
	color: #660000;
}

#accordion .adminlink {
	float: right;
	padding: .25em;
	background-color: #f0f0f0;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 8pt;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	opacity: .4;
	
}
#accordion .adminlink:hover {
	opacity: 1;
}
#accordion .adminlink a {
	text-decoration: none;
}

.adminActions {
	padding: 0em;
}
.adminActions a {
	display: inline-block;
	padding: .35em;
	opacity: .3;
	border-radius: 5px;
}
.adminActions a:hover {
	opacity: 1;
}
.adminActions a.private {
	background-color: #993333;
}
.adminActions a.public {
	background-color: #339933;
}
.adminActions a.itembank-switch {
	opacity: 1;
}

.adminPanel
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #e0d0d0;
	padding: .25em;
	border-top-left-radius: 5px;
}
.adminPanel .adminlink
{
	padding: .25em;
	background-color: #f0f0f0;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 8pt;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	margin: .15em .5em;
	float: right;
}
.adminPanel .adminlink a
{
	text-decoration: none;
}
.adminPanel .adminlink img
{
	display: block;
	float: left;
	position: relative;
	left: -.25em;
	top: -.25em;
	padding: .5em;
	margin: .15em .15em -.25em .15em;
	border-radius: 5px;
	max-height: 1.5em;
}
.adminPanel .adminlink .private img {
	background-color: #993333;
}
.adminPanel .adminlink .public img {
	background-color: #339933;
}
.userPanel
{
	overflow: hidden;
	padding: 3em 0em 1em 0em;
	text-align: center;
	float: right;
	position: relative;
	z-index: 100;
	max-height: 5.5em;
	max-width: 12em;
}
.userPanel .userlink
{
	padding: .25em;
	background-color: #f0f0f0;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 8pt;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	margin: .15em auto;
	width: 11em;
}
.userPanel .userlink a
{
	text-decoration: none;
}
.userPanel .userlink img
{
	display: block;
	float: left;
	position: relative;
	left: -.25em;
	top: -.25em;
	padding: .5em;
	margin: .35em .35em -.25em .15em;
	border-radius: 5px;
}
.userPanel .userlink img
{
	margin: .25em 0em -.15em 0em;
}

#itemList table {
	clear: both;
}
#myitems #itemList table {
	clear: none;
}

#nda {
	margin: 1em;
	padding: .5em 1em;
	border: 1px dashed #990000;
	background-color: #fffafa;
	overflow: auto;
}

#feedback {
	background-color: #FFCC33;
	border-top: 1px solid #69c;
	border-right: 1px solid #69c;
	border-left: 1px solid #69c;
	position: fixed;
	bottom: 0px;
	left: 5px;
	width: 240px;
	padding: 4px;
	cursor: pointer;
	height: 28px;
	font-size: 125%;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	opacity: .8;
}
#feedback:hover {
	width: 240px;
	opacity: 1;
}
#feedback .teaser {
	background-image: url(../img/comment_alt1_fill_12x12.png);
	background-position: top left;
	background-repeat: no-repeat;
	color: #000000;
	padding: 0em 0em 0em 20px;
	margin: 0em;
	line-height: 80%;
}
#feedback .teaser * {
	margin: 0em;
	padding: 0em;
}
#feedback:hover .teaser * {
	display: inherit;
}

.clarification p + ol,
.clarification p + ul
{
	margin-top: -.65em;
}

.clarContainer.uienhance li > p {
	color: #003399;
	cursor: pointer;
}
.clarContainer.uienhance .clarification {
	display: none;
}
.clarContainer.uienhance li.selected .clarification {
	display: block;
}

/* TAB STYLING */
.ui-widget {
	font-size: 100%;
}
.ui-tabs-nav,
.ui-tabs-nav li
{
	list-style: none;
}
.ui-tabs.ui-widget-content
{
	background-image: none;
	background-color: inherit;
}
.ui-tabs .ui-tabs-panel.ui-widget-content,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-tabs .ui-tabs-panel .separator
{
	border-bottom: 8px dotted #A7CBE9;
	width: 75px;
	margin: 1.65em auto 0em auto;
}
div.tabs > * {
	clear: both;
}
.ui-tabs
{
	border: none;
	margin: 0em 0em 1em 0em;
	padding: 0em;
	background-color: #ffffff;
}
.ui-tabs .ui-tabs-nav
{
	border: none;
	border-top: 1px solid #e0f0ff;
	margin: 0px;
	padding: 0em .25em;
	background: none;
	background-color: none;
}
.ui-tabs .ui-tabs-nav li
{
	line-height: normal;
	margin: 0em .15em;
	background-color: #fdfeff;
	font-size: 80%;
	font-weight: normal;
	top: 0px;
	border: 2px solid #daeaf0;
	border-top: 1px solid #daeaf0;
	border-bottom: 2px solid #cad0da !important;
}
.ui-tabs .ui-tabs-nav li a
{
	display: block;
	float: none;
	color: #7090B0;
	font-weight: normal;
	padding: 0.35em 0.65em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected ,
.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
	background-color: #e0f0ff;
	border: 2px solid #daeaf0;
	border-top: none;
	top: -1px;
	border-bottom: 2px solid #cad0da !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a ,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a
{
	color: #113355;
	border: none;
}

.item-content {
	margin: .5em;
	min-height: 15em;
	clear: both;
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	max-width: 600px;
}
.item-content + .copyright {
	margin: 0em .5em;
	text-align: right;
	font-size: 68%;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	padding: 2px;
}
.item-content a { color: #0000FF !important;	/* For Firefox... mark as important, otherwise it becomes black */ }
.item-content h3 { color: #000080; }
.item-content img { max-width: 100%; height: auto; }
.item-content sup, #itemContent sub { line-height: .25em; font-size: .75em; font-weight: normal; }
.item-content ol { margin: 12pt 0em; padding: 0em 2.85em; }
.item-content li { margin: 6pt 0em; padding: 0em; }
.item-content li > p { margin: 0em; }


.field dt {
	text-align: right;
	margin: 0em 1em;
	clear: both;
	float: left;
}
.field dd {
	margin: .25em 1em;
}
.field table table td:first-child {
	text-align: right;
	padding-right: 1em;
}


table.miscons,
table.breakdown
{
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
table.miscons > tr > td,
table.breakdown > tr > td,
table.miscons > tr > th,
table.breakdown > tr > th,
table.miscons > tbody > tr > td,
table.breakdown > tbody > tr > td,
table.miscons > tbody > tr > th,
table.breakdown > tbody > tr > th
{
	padding: .5em;
}
table.breakdown > tr > td p,
table.breakdown > tbody > tr > td p
{
	margin: 0em;
}
table.miscons a
{
	color: #333333;
	text-decoration: none;
	display: block;
}
table.miscons a.hinted
{
	color: #003399;
	text-decoration:none;
}
table.miscons tr:hover a.hinted
{
	text-decoration: underline;
}
table.miscons a.hinted:visited
{
	color: #660066;
}
table.miscons > tr:hover > td,
table.breakdown > tr:hover > td,
table.miscons > tbody > tr:hover > td,
table.breakdown > tbody > tr:hover > td
{
	background-color: #f0f0f0;
}
table.breakdown > tr.answer:hover > td,
table.breakdown > tbody > tr.answer:hover > td
{
	background-color: #c0fac0;
}
table.breakdown tr.grouping + tr,
table.miscons tr.grouping + tr
{
	border-bottom: 1px solid #999999;
}
table.breakdown tr.grouping th div,
table.miscons tr.grouping th div
{
	border-bottom: 1px solid #999999;
	padding: 0em .5em;
}
table.breakdown tr.grouping th,
table.miscons tr.grouping th
{
	padding-bottom: 0em;
}
table.breakdown tr.grouping + tr th,
table.miscons tr.grouping + tr th
{
	padding-top: 0em;
}
table.breakdown > tr > th,
table.miscons > tr > th,
table.breakdown > tbody > tr > th,
table.miscons > tbody > tr > th
{
	vertical-align: bottom;
}


.item > table
{
	margin: 1.5em 0em;
}
.location + table {
	margin-top: .25em;
}
.item td.tabs
{
	/* background-color: #AED0EA;
	border-top: 1px solid #AED0EA; */
	padding: 0.5em;
	min-width: 265px;
}
.item td.tabs .ui-tabs-nav
{
	border-top: none;
	padding: 0em 4px;
}
.item-container
{
	border: 1px solid #AED0EA;
}
colgroup.item-container
{
	/* border-top: 1px solid lightBlue; */
}
td.item-container .item-content
{
	max-width: 625px;
}
.item .ui-tabs .ui-tabs-nav li
{
	border: 2px solid #AED0EA;
	border-bottom: none !important;
	top: 1px;
}
.item td.tabs .ui-tabs-selected
{
	border-top: 2px solid #7799BB;
	top: 0px;
	background-color: #eaecef;
}
.item td.tabs li
{
	float: right;
	text-align: center;
	min-width: 38%;
}
.item td.tabs li:first-child
{
	float: left;
}
.item td.tabs li a
{
	text-align: center;
}
.item td.tabs li.item-metadata-nav
{
	background-color: #FFE4AE;
	border: 2px solid #FFE4AE;
	top: 1px;
}
.item td.tabs li.item-testing-nav
{
	background-color: #FEE88D;
	border: 2px solid #FEE88D;
	top: 1px;
}
.item td.tabs li.item-metadata-nav.ui-tabs-selected,
.item td.tabs li.item-testing-nav.ui-tabs-selected
{
	border-top: 2px solid #EAC0B0;
}
.item .ui-tabs .ui-tabs-panel
{
	background-color: #eaecef;
}
.item .ui-tabs .item-metadata.ui-tabs-panel
{
	background-color: #FFE4AE;
}
.item .ui-tabs .item-testing.ui-tabs-panel
{
	background-color: #FEE88D;
}

table.breakdown-inline {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
table.breakdown-inline td {
	padding: .5em;
}
table.breakdown-inline th {
	padding: .5em;
	border-bottom: 1px solid #999999;
}
table.breakdown-inline tr:hover td {
	background-color: #f0f0f0;
	cursor: pointer;
}

.answer {
	background-color: #d0ffd0;
}

#topicListSidebar {
	float: left;
	width: 250px;
	margin: 1em 0em 1em 1em;
	padding: .5em;
}
#topicListSidebar h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 100%;
}
#topicListSidebar h4 {
	margin: 1em 0em 0em 0em;
	font-size: 100%;
	font-size: 92%;
	font-weight: bold;
}
#topicListSidebar ul, #topicListSidebar li {
	list-style-type: none;
	margin: 0em;
	padding: 0em .25em;
	text-indent: 0em;
}
#topicListSidebar p {
	margin: .5em 0em;
	line-height: 1em;
}

#logos {
	padding: 3em 0em;
	clear: both;
	text-align: center;
}
#logos a {
	margin: 0em 2.5em;
}

.location
{
	margin-bottom: .65em;
	overflow: hidden;
	padding: .15em;
}
.location + *
{
	clear: both;
}
.location .breadcrumb
{
	margin: 1em 0em 0em 0em;
	font-weight: bold;
}
.location .breadcrumb a
{
	color: #993333;
}
.location .header
{
	font-size: 145%;
	font-weight: bold;
	margin: .25em 0em;
}
.location h2.youarehere
{
	margin: .15em 1em;
	border: 1px solid #cccc99;
	padding: .5em;
	background-color: #fffaf0;
	font-size: 115%;
}

.printbox
{
	width: 165px;
	float: right;
	margin-left: 1em;
	padding: .25em;
	background-color: #F0FAFF;
}

a.button,
input.button
{
	text-decoration: none;
	padding: .25em .5em;
	border-radius: 5px;
	text-align: center; border: 1px solid #999999;
	background-color: #f0f0f0;
	color: #993333;
	width: auto;
	cursor: pointer;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 100%;
}
a.button-sm
{
	text-decoration: none;
	padding: 0px 2px;
	border-radius: 5px;
	text-align: center; border: 1px solid #999999;
	background-color: #f0f0f0;
	color: #993333;
	width: auto;
	cursor: pointer;
	font-size: 78%;
}

input.button {
	margin: .5em;
}
label.error { color: #660000; }
label.error:after { content: '*'; }
input.error { background-color: #fff0ea; }

#UserLoginForm label {
	float: left;
	text-align: right;
	width: 6.5em;
	margin: 0em .5em 0em 0em;
}

.references .reference {
	text-indent: -2em;
	margin-left: 2em;
}

.instruction
{
	float: right;
	width: 250px;
	margin: 1em 0em 1em 1em;
	padding: .5em;
}
.instruction h2,
.instruction h3
{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 100%;
}
.instruction h4
{
	margin: 1em 0em 0em 0em;
	font-size: 100%;
	font-size: 92%;
	font-weight: bold;
}
.instruction ul,
.instruction li
{
	list-style-type: none;
	margin: 0em;
	padding: 0em .25em;
	text-indent: 0em;
}
.instruction p
{
	margin: .5em 0em;
	line-height: 1.15em;
}

.attribution {
	font-size: 86%;
	margin: 2.5em .25em .25em .25em;
	color: #333333;
}

form.bold fieldset
{
	border: 2px solid #dadada;
	padding: 1.5em .5em;
}
form.bold fieldset > legend
{
	padding: .2em .65em;
	margin: 0em;
	background-color: #f0f0f0;
	width: 100%;
	text-align: center;
	border: 2px solid #dadada;
	letter-spacing: .22em;
	text-transform: uppercase;
	font-weight: bold;
	color: #333333
}
form.bold fieldset + *
{
	margin-top: 2em;
}
form.bold fieldset legend + p {
	margin-top: 0em;
}

form.subdued fieldset
{
	border: none;
	padding: .5em .5em;
}
form.subdued fieldset > legend,
.legend
{
	padding: 0em;
	border-bottom: 2px solid #fff0d0;
	box-shadow: 0px 2px 2px 0px #fffaf0;
	margin: 0em -.5em;
	min-width: 100%;
	text-align: left;
	letter-spacing: .1em;
	font-weight: bold;
	color: #333333;
	font-size: 100%;
}
form.subdued fieldset > legend .actions a
{
	opacity: .2;
}
form.subdued fieldset > legend .actions a:hover
{
	opacity: 1;
}
form.subdued fieldset > legend .actions a.active
{
	opacity: 1;
}


.closeup
{
	margin-bottom: .25em;
}
.closeup + *
{
	margin-top: .25em;
}

table.list
{
	width: 100%;
	margin: 0em;
	border-width: 0px;
	margin-top: 1em;
	border-collapse: collapse;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
table.list tr:hover td { background-color: #f0f0f0; }
table.list td, table.list th
{
	padding: .5em .25em;
	margin: 0em;
}
table.list td { line-height: 125%; vertical-align: top; }
table.list td a { display: block; text-decoration: none; color: #333333; }
table.list tr td.actions a { display: inline; margin: 2px; opacity: .2; }
table.list tr:hover td.actions a { opacity: 1; }
table.list td a.hinted { color: #003399; }
table.list td a.hinted:visited { color: #660066; }
table.list tr:hover a.hinted { text-decoration: underline; }
table.list td, table.list th { margin: 0em; padding: .15em .5em; }
table.list th { border-bottom: 1px solid #999999; }
table.list th p, table.list td p { margin: .15em 0em 0em 0em; padding: .25em; }
table.list td p a { display: block; }
table.list .ui-helper-reset { list-style-type: circle; }
table.list .ui-accordion-content li { margin: .25em 0em; }
table.list .ui-accordion-content, #itemList .ui-widget-content { background-image: none; background-color: none; }
table.list .ui-accordion-content { padding-top: 0em; }
table.list .view-options { float: right; margin: 0em; font-size: 78%; }
table.list .view-options + * { clear: both }
table.list h4 { border-radius: 4px; margin: 1.65em 0em 0em 0em; padding: 0.35em; border-left: 1px solid #daeaf0; border-right: 1px solid #daeaf0; border-top: 1px solid #daeaf0; }
table.list h4 { background-color: #e0f0ff; box-shadow: 1px 1px 2px #A7CBE9; }
table.list h4 a { color: #333333; text-decoration: none; display: block; }
table.list tr.grouping th {
	border-bottom: none;
}
table.list tr.grouping + tr
{
	border-bottom: 1px solid #999999;
}
table.list tr.grouping th div
{
	border-bottom: 1px solid #999999;
	padding: 0em .5em;
}
table.list tr.grouping th
{
	padding-bottom: 0em;
}
table.list tr.grouping + tr th
{
	padding-top: 0em;
}


#site-faq ul.toc
{
	margin: 1em 0em 2em 1em;
	padding: 0em;
}
#site-faq ul.toc li
{
	margin: .25em 0em;
	padding: 0em;
}
#site-faq dt
{
	font-weight: bold;
	font-style: italic;
}
#site-faq dd
{
	margin: 0em;
	padding: 0em;
}
#site-faq dd > p:first-child
{
	margin-top: .25em;
}
#site-faq p.toc-link
{
	color: #003399;
	border-bottom: 1px solid #003399;
}
#site-faq p.toc-link a
{
	text-decoration: none;
}

#myassessments {
	padding: 3px;
}
#myassessments .assessments.create {
	background-color: white;
}
ol.nostructure,
ol.nostructure li,
ul.nostructure,
ul.nostructure li {
	display: block;
	margin: .25em;
	padding: .25em;
}
ol.nostructure ol.nostructure,
ul.nostructure ul.nostructure {
	margin: .25em;
	padding: .25em;
}
#myassessments .manage-items input[type='submit'] {
	float: none;
}
#myassessments .itemlist input[type='text'] {
	text-align: center;
	width: 1.85em;
	margin: 0em .5em 0em 0em;
}
#myassessments .list-itembank > div {
	margin: .5em 0em;
}
#myassessments .itemlist input + div {
	margin-left: 2em;
}
#myassessments .itemlist input + .label,
#myassessments .additems .list-itembank input + label,
#myassessments .additems .list-ideas .idealist li.idealist-idea label {
	display: inline-block;
	max-width: 78%;
	vertical-align: top;
	margin: 0em .25em .25em .25em;
}
#myassessments .additems .list-ideas .idealist li.idealist-idea label {
	vertical-align: top;
}
#myassessments .additems .list-itembank input + label {
	cursor: pointer;
}
#myassessments .additems .list-itembank {
	padding: 0em;
}
#myassessments .additems .list-ideas {
	padding: 0em;
	overflow: hidden;
}
#myassessments .additems .list-ideas .instructions {
	margin: 0px;
	background-color: #e0eaf0;
	overflow: hidden;
	padding: .25em;
}
#myassessments .additems .list-ideas .idealist {
	overflow: auto;
	height: 245px;
}
#myassessments .itemlist .ui-sortable li {
	cursor: move;
}
#myassessments .itemlist li input[type='text'] {
	border: 1px solid #cccccc /*#ccddff*/;
	background-color: #f0f0f0 /*#e0f0ff*/;
	border-radius: 10px;
	color: #666666;
}
#myassessments .itemlist li .listitemactions,
#myassessments .additems .list-itembank div .listitemactions {
	opacity: .2;
}
#myassessments .itemlist li:hover .listitemactions,
#myassessments .additems .list-itembank div:hover .listitemactions {
	opacity: 1;
}
#myassessments .itemlist li .actionicon,
#myassessments .additems .list-itembank div .actionicon {
	margin: 0em .25em;
	cursor: help;
}

.note {
	font-size: 88%;
	color: #666666;
}
.note.preceding {
	margin-top: 0em;
}

#assessment-notices {
	background-color: #fae0aa;
	padding: 1em;
	font-size: 88%;
}
#assessment-info p {
	margin: .5em 0em;
}

#assessment-actions {
	text-align: center;
}
#assessment-actions li {
	display: inline-block;
	margin: .5em 3em;
	border-radius: 8px;
	min-width: 8em;
	float: none;
}
#assessment-actions li a {
	display: block;
	text-align: center;
	float: none;
	padding: .85em;
}
#myassessments .additems {
	margin: .15em 1em;
	padding: .25em;
	font-size: 92%;
	min-height: 400px;
}
#myassessments .manage-items.view-additems .additems {
	height: 400px;
}
#myassessments .manage-items.view-additems .additems-ideas {
	overflow: hidden;
}

#myassessments .additems .list-ideas .idealist li.idealist-topic {
	cursor: pointer;
}
#myassessments .additems .list-ideas .idealist li.idealist-topic {
	background-image: url(../img/Iconic/black/plus_8x8.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 10px;
}
#myassessments .additems .list-ideas .idealist li.idealist-topic.showContent {
	background-image: url(../img/Iconic/black/minus_8x2.png);
	background-position: 0px 9px;
}
#myassessments .view-additems .additems .list-ideas .idealist li ul {
	display: none;
}
#myassessments .view-additems .additems .list-ideas .idealist li.showContent ul {
	display: block;
}

#myassessments .preview {
	display: none;
	height: 400px;
}
#myassessments .preview .item {
	font-size: 78%;
}
#myassessments .preview img {
	max-width: 100%;
	height: auto;
}
#myassessments .preview .code {
	border-bottom: 2px solid black;
}
#myassessments .manage-items.view-list .preview,
#myassessments .manage-items.view-additems .preview {
	display: none;
}
#myassessments .manage-items.view-preview .preview {
	display: block;
	float: right;
	width: 40%;
}
#myassessments .manage-items.view-preview .itemlist {
	float: left;
	width: 55%;
}
#myassessments .manage-items.view-preview .itemlist input + .label {
	max-width: 75%;
}
#myassessments .manage-items.view-list .additems,
#myassessments .manage-items.view-preview .additems {
	display: none;
}
#myassessments .manage-items.view-additems .additems {
	display: block;
	float: right;
	width: 40%;
}
#myassessments .manage-items.view-additems .itemlist {
	float: left;
	width: 55%;
}
#myassessments .manage-items.view-additems .itemlist input + .label {
	max-width: 75%;
}
#myassessments .ui-tabs .ui-tabs-nav
{
	border: none;
}
#myassessments .ui-tabs .ui-tabs-panel
{
	padding: 0px;
}

#myassessments .view-select
{
	width: 80%;
	margin: -1.5em 0em 0em 0em;
}
#myassessments .view-select img
{
	background-color: #fff0d0;
	margin: 0em 1em;
}
#myassessments #assessment-results table.list.responses {
}
#myassessments #assessment-results table.list.responses th {
	padding: .15em;
	font-size: 85%;
}
#myassessments #assessment-results table.list.responses td {
	padding: .15em;
	font-size: 78%;
}
#myassessments #assessment-results .responses div.correct,
#myassessments #assessment-results .responses div.incorrect,
#myassessments #assessment-results .responses div.blank
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 1em;
	width: 1em;
	margin: .2em;
}
#myassessments #assessment-results .responses.correct-incorrect .correct
{
	background-color: blue;
	color: blue;
}
#myassessments #assessment-results .responses.correct-incorrect .incorrect
{
	background-color: red;
	color: red;
}
#myassessments #assessment-results .responses.correct-incorrect .blank
{
	background-color: lightgrey;
	color: lightgrey;
}

.chzn-container.chzn-container-multi {
	min-width: 250px;
}

.hidden {
	display: none;
}

#itemContent .nav a {
	color: #333;
}

.qctrl.nav {
	text-align: center;
	font-size: 80%;
	color: #999999;
}
.qctrl.nav a {
	background-color: #faf0e0;
	color: #333333;
	display: block;
	padding: 0.35em;
	border-radius: 0px 0px 5px 5px;
}
.qctrl.nav .instructions {
	background-color: #faf0e0;
}
.qctrl.nav a.prev {
	float: left;
}
.qctrl.nav a.next {
	float: right;
}
.qctrl.nav + .qctrl {
	margin: 0em;
}
.qctrl.sequence {
	background-color: #faf0e0;
	padding: .25em .5em;
}

.highlight {
	background-color: #faf0e0;
}

.nested-reveal.active > * > * {
	display: none;
}
.nested-reveal.active > * > *:first-child {
	display: block;
	cursor: pointer;
	
	/* extend the clickable area over the +/- and bullet numbering */
	position: relative;
	z-index: 1000;
	margin-left: -3em;
	padding-left: 3em;
}
.nested-reveal.active > *.active > * {
	display: block;
}
.nested-reveal.active > * {
	position: relative;
}
.nested-reveal.active > *:before {
	content: url(../img/Iconic/gray_light/plus_8x8.png);
	position: absolute;
	left: -2.5em;
	top: 5px;
}
.nested-reveal.active > *.active:before {
	content: url(../img/Iconic/gray_light/minus_8x2.png);
	position: absolute;
	left: -2.5em;
	top: 8px;
}
.nested-reveal.active .navhint {
	color: #000099;
	text-decoration: underline;
}

.chzn-container {
	vertical-align: bottom;
}

.item-identifier #item-navigation-shade {
	opacity: 0;
}
.item-identifier:hover #item-navigation-shade {
	opacity: 1;
}
#item-navigation-shade {
	transition: opacity 0.15s ease-in-out;
	font-size: 78%;
	color: #999999;
	position: absolute;
	background-color: #e0f0ff;
	padding: 0.1em 0.5em;
	border-radius: 0px 0px 5px 5px;
	left: 48.5%;
	cursor: pointer;
}

.student-code {
	background-color: #FAFAFA;
	border: 1px solid #F0F0F0;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	font-size: 90%;
	margin: 2px 0;
	padding: 0 0.25em;
}
.student-code a {
	color: #333;
	text-decoration: none;
}
.student-code a:hover {
	color: #33c;
	text-decoration: none;
}