//body { font-family: CartoGothicStdBook, "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 12pt; background-color: black; }
body { font-family: 'Open Sans', sans-serif; font-size: 100%; font-weight:350; background-color: black; /*width: 910px; height:700px;*/ overflow:hidden; margin: 18px auto 0px; position: relative; }
//input[type=text] , textarea {  font-family: 'Open Sans', sans-serif; font-style:italic; font-weight:300; background-color: black;  font-size: 92%; }
textarea { width: 95%; height: 4em; }

.you-are-here { color: #999999; text-align: center; }
.you-are-here * { margin: 0px; }
#help-tip { color: #FFF0C0; line-height: 16px; position: absolute; margin: 0 15px; left: 88px; font-size: 70%; display: none; }
#slider-positioner { position: relative; width: 906px; height: 700px; margin: 0px 15px; overflow: hidden; padding: 0px; background-color: #dadada; }

.plusslider { background-color: #ffffff; }
.plusslider .child {  }
.child .header h2 { font-size: 150%; margin-left: 1.5em; font-weight: normal; }

#slider-navigation {  }
#click-cover{ position: absolute; width: 906px; height: 700px; margin: 0px auto; z-index:98; overflow: visible; padding: 0px; background-color: transparent; display: none; }
#slider-menu {background-color: /*rgba(209, 220, 227, 0.9);*/ rgba(159, 184, 206, 1); border-left: 2px solid /*#91B1C0*/ rgba(110, 142, 171,.9); bottom: 0; overflow: visible; position: absolute; right: 0; top: 0; z-index: 99; width: 350px }

#slider-menu .access-control {
	cursor: pointer; background-color: /*#91B1C0*/  rgba(110, 142, 171,1); border-radius: 5px 5px 0 0; left: -18px; padding: 4px; position: absolute; top: 24px;
	font-size: 85%; line-height: .65em;
	transform: rotate(-90deg) translateY(-.95em); transform-origin: center;
}
#slider-menu .access-control:hover {color: #FFF0C0; }

#feedback {
	cursor: pointer; background-color:  rgba(110, 142, 171,1); border-radius: 0 0 4px 2px; z-index: 99; padding: 4px; line-height: 7px; position: absolute; margin: 0 15px; left: 0px;
	font-size: 70%;
}
#feedback:hover { color: #FFF0C0; }

#homebutton {
	cursor: pointer; background:  rgba(110, 142, 171,1) url(../../media/img/homebutton.png); background-size:cover; border-radius: 0 0 0 1px; z-index: 99; height:15px; width:17px;
 	position: absolute; margin: 0 15px; left: 889px; border-radius: 0 0 1px 1px;
	font-size: 70%;
}
#homebutton:hover { background:  rgba(110, 142, 171,1) url(../../media/img/homebuttonhighlight.png); background-size:cover; }


#slider-menu .ui-accordion { font-family: 'Open Sans', sans-serif; font-size: 100%; border-radius: 0px; }
#slider-menu .ui-accordion .ui-accordion-header { padding: 0.5em 0em 0.5em 2em; text-indent:-1.3em; margin-top: 0px; background:none; border-bottom: 1px solid #999999; color: black; max-width:350px; border-radius: 0px; text-decoration:none;  }
#slider-menu .ui-accordion .ui-accordion-header-active { background-color: /*rgba(170, 192, 202, .9) rgba(110, 142, 171,.5);*/ rgba(170, 168, 213, .4); solid #999999; solid #999999; margin 0px; padding 0px; /* color: #eeff86 #FFF0C0)!important;*/ /*text-shadow: 0px 0px 2px #FFF0C0);*/ box-shadow: 0px 1px 1px #666; }
#slider-menu a.completed {color: DimGray !important; }
#slider-menu .ui-accordion .ui-accordion-header:last-of-type {border-top: 1px solid black; }
/*#slider-menu .ui-accordion .ui-accordion-header:nth-last-of-type(2) {border-top: 1px solid black; }*/
#slider-menu .ui-accordion .ui-accordion-header:first-of-type {border-bottom: 1px solid black; }

#slider-menu .ui-accordion .ui-accordion-header a { display: block; padding: .6em; color: black; z-index:99; text-decoration:none; }
#slider-menu .ui-accordion .ui-accordion-content {background: none; line-height: 1; padding: 0px; border-radius: 0px; text-decoration: none;}
#slider-menu .ui-accordion .ui-accordion-content ul { display: block; list-style: none; padding: 0px; margin: 0px; height: 100%; overflow: visible; }
#slider-menu .ui-accordion .ui-accordion-content li { list-style: none; display: block; margin: 0px; border-top: 1px solid #999999; z-index:99; }
#slider-menu .ui-accordion .ui-accordion-content a { display: block; padding: .5em .5em .5em 2.5em; text-indent: -1.1em; color: black; z-index:99; text-decoration: none; font-size: 85%; }
#slider-menu a.current { background-color: rgba(110, 142, 171,.4) !important; }
#slider-menu a:hover {color: /*#eeff86 #FFF0C0)!important*/; background-color: /*rgba(170, 192, 202, .7) rgba(110, 142, 171,.5)*/ rgba(170, 168, 213, .4) !important; /*text-shadow: 0px 0px 1px #FFF0C0;*/ }


/*
.ui-accordion.ui-state-default .ui-accordion .ui-accordion-header.ui-state-default {
	background-color: rgba(209, 220, 227, 0.9);
}
#accordion .ui-accordion {max-width:350px; padding: none; }
#accordion .ui-accordion-content {
	background-color: rgba(209, 220, 227, 0.9);
	font-size: 10pt;
	line-height: 16pt;
	padding: none
}
#accordion .ui-accordion-header {
	background-color: rgba(209, 220, 227, 0.9);
	margin: 0px;
}


//#accordion .ui-accordion-header-icon { display: none; padding: none;}
#slider-menu ul { display: block; list-style: none; padding: 0px; margin: 0px; height: 100%; max-width: 350px; overflow: auto; }
#slider-menu li { list-style: none; display: block; margin: 0px; padding: 0px; border-bottom: 1px solid #999999; z-index:99; }
#slider-menu a { display: block; padding: .5em; color: black; z-index:99; text-decoration: none;}
#slider-menu a:hover { background-color: #AAC0CA; color: #ffffff !important; text-shadow: 0px 0px 4px #666; }
#slider-menu a.highlighted { background-color: #AAC0CA; color: #ffffff !important; text-shadow: 0px 0px 4px #666; }
#slider-menu a.current { background-color: #91B1C0; }
#slider-menu a.completed {color: DimGray; }
*/
#slider-menu .you-are-here { position: absolute; bottom: 0px; color: #999999; text-align: center; }
#slider-navigation .prev, #slider-navigation .next { z-index: 90; position: absolute; bottom: 20px; background-color: #d1dce5; font-size: 125%; font-weight: bold; cursor: pointer; border-color: #91b1c0; border-style: solid; }
#slider-navigation .prev { left: 0px; padding: 10px 10px 10px 5px; border-radius: 0px 30px 30px 0px; border-width: 2px 2px 2px 0px; z-index: 100; }
#slider-navigation .next { right: 0px; padding: 10px 5px 10px 10px; border-radius: 30px 0px 0px 30px; border-width: 2px 0px 2px 2px; z-index:100; }

#slider-navigation #login-nav { position: absolute; bottom: 2em; }

.mCSB_scrollTools .mCSB_draggerRail { background-color: rgba(55,52,69,.85); }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 8px; background-color: rgba(209, 220, 227, 0.95); }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background-color: rgba(170, 192, 202, 0.95); }
.mCSB_scrollTools .mCSB_buttonUp { background-position: -96px 0 }
.mCSB_scrollTools .mCSB_buttonDown { background-position: -96px -20px }

.child > .scrollable.mCustomScrollbar {
	background-color: rgb(142,171,197);
	background-color: rgba(142,171,197,.2);
	padding: .25em .5em;
	border-radius: 10px;
}

.child.activity { background-color: /*#E4E9CA;*/ #E0EACB; }
.child.activity.tryit {background-color: /*#D2DCC8;*/ #EDE7CA;}
.child.activity.tools {background-color: #DFDBD4; }
.child.activity > .header { height: 65px; left: 0; position: absolute; right: 0; top: 0; z-index: 30; overflow: hidden; }
.child.activity > .workarea {
	bottom: 100px; left: 0; overflow: visible; padding: 0 5px; position: absolute; right: 0; top: 65px; z-index: 50;
	/*background-color: #e8f0f3;*/ background-color: white; height: 405px; overflow: hidden; padding: 0; position: absolute; top: 65px; width: 100%;
	box-shadow: 0px 0px 4px #999;
}

.child.activity > .workarea.compressed { height: 548px;}
.child.activity > .workarea.tools { background-color: #e4e9ca;}


.child.activity > .workarea > * {/* overflow: auto; */position: absolute; /*top: 0px;*/ /*bottom: 0px;*/ /*width: 100%;*/ }


.child.activity > .instructions {
	color: black;
	height: 190px; left: 0px; bottom: 0px; overflow: auto; position: absolute; right: 0px; z-index: 50;
	margin: 15px 50px; height: 200px; overflow: hidden; left: 0px; right: 0px;
	font-size: 125%; line-height: 1.4em;
}
.child.activity > .instructions.compressed { height: 64px;}

.child.activity.tryit > .instructions p {padding-left: 1.15em; text-indent:-1.15em;}
/* .child.activity > .instructions ol , .child.activity .instructions ul { overflow: auto; max-height: 100%; padding: 0em; margin: .25em; display: block; }
.child.activity > .instructions li { display: block; padding: 0em; margin: .65em .25em; } */
.child.activity > .instructions .instructNav { color: orange; text-decoration: none; cursor: pointer; margin: 0em 1em; }
.child.activity > .instructions p { margin: .35em 0em; }

.child.activity > .instructions .plusslider { background-color: transparent; padding-bottom: 18px; }
.child.activity > .instructions .plusslider .plusslider-pagination-wrapper { background-color: transparent; background-image: none; height: 16px; opacity: .35 }
.child.activity > .instructions .plusslider .plusslider-pagination-wrapper ul { margin: 0px auto; padding: 0px; }
.child.activity > .instructions .plusslider .plusslider-pagination-wrapper .plusslider-pagination li { width: 8px; height: 8px; background-image: url(../media/common/slidernav.png); }
.child.activity > .instructions .plusslider .plusslider-pagination-wrapper .plusslider-pagination .current, .child.activity .instructions .plusslider .plusslider-pagination-wrapper .plusslider-pagination li:hover { background-position: -18px; }

.child.activity .widget.dataSelect { background-color: #dbd3c1; height: auto; margin: 0 auto; padding: 0 0 2.24em; width: auto; border: none; }
.child.activity .widget.dataSelect .map-canvas { height: 375px; width: 100%; background-color: #E5E3DF; overflow: hidden; position: relative; }
.child.activity .widget.dataSelect .map-info { background-color: transparent; border-radius: 0px; box-shadow: none; }
.child.activity .widget.dataSelect .map-date .toggle { background-color: transparent; border-radius: normal; box-shadow: none; }

.child.activity .widget.statspanel table th { width: 200px; text-align: left; }
.child.activity .widget.statspanel table th , .child.activity .widget.statspanel table td { border-top: none; border-bottom: 1px solid #c0c0a0; }
.child.activity .widget.statspanel table tr:last-child th , .child.activity .widget.statspanel table tr:last-child td { border-bottom: none; }
.child.activity .widget.statspanel table tr:nth-child(n+1) { background-color: #e4e9ca; }
.child.activity .widget.statspanel table tr:nth-child(2n) { background-color: #faf0ea; }
.child.activity .widget.statspanel .sunAngle img { max-width: 175px; max-height: 185px; }
.child.activity .widget.linechart { width: 100%; max-height: none; }


.tooltip { border-bottom: 1px dashed #003333; cursor: help; }
.general-tooltip > *, .general-tooltip {background:#FFF0C0 !important; padding: 0; margin: .25em; }
.ui-widget-overlay {
	background: #666666 url(http://code.jquery.com/ui/1.10.3/themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

@media print {
	body { background-color: transparent; }
	#slider-positioner { width: 100%; height: 100%; overflow: visible; background-color: transparent; padding: 0px; }
	#slider-navigation { display: none; }
	#slider .child { page-break-after: always; }
	#slider > div { overflow: visible; page-break-after: always; }
	
	.plusslider .child { float: none; }
}
