body {
	margin: 0em;
	padding: 0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
    color: #333333;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
}
a, a.hinted {
    color: #003399;
    text-decoration: none;
}
a.hinted:visited {
    color: #660066;
}
a .hinted {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: medium none;
}
fieldset {
    margin: 1em 0;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0.85em 0 0.5em;
}
h1 {
    font-size: 190%;
}
h2 {
    font-size: 145%;
    font-weight: bold;
}
h3 {
    font-size: 115%;
    font-weight: bold;
}
h4 {
    font-size: 100%;
    font-weight: bold;
    padding-top: 0.5em;
}
li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
table {
    border-collapse: collapse;
}
caption {
    font-weight: bold;
    margin-bottom: 0.15em;
    text-align: left;
}
td {
    vertical-align: top;
}
.site-header {
    background-color: #005295;
    border: 4px solid #6699CC;
    cursor: pointer;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    text-align: right;
}
.site-header .logo-p2061 {
    background-color: #6699CC;
    float: left;
    margin: 0;
    padding: 0 6px 0 0;
}
.site-header h1 {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: normal;
    margin: 0;
    padding: 0.15em 0.5em;
	 font-size: 240%;
}
.site-header h1 sup {
    font-size: 50%;
    font-style: italic;
    font-variant: normal;
}
.footer {
	font-size: 78%;
	color: #999999;
	margin-top: 8em;
	text-align: center;
}

#visselect {
	margin: .5em auto;
	width: 465px;
	background-color: #f0faff;
	padding: .25em 1em;
	-moz-border-radius: 15px;
}
#visselect > * {
	margin: 1em 0em;
}
#visselect select {
	text-align: center;
}
.vistype {
	text-align: center;
}
.properties {
	overflow: hidden;
}
.properties .title {
	text-align: center;
	font-variant: small-caps;
	font-size: 86%;
	font-weight: bold;
	margin: 0em 0em .5em 0em;
}
.properties .selector {
	margin: 0em 0em .65em 0em;
}
.properties .date {
	float: left;
	margin-left: 1.65em;
}
.properties .map {
	float: right;
	text-align: center;
	margin-right: 1.65em;
}
.properties .date label {
	clear: both;
	float: left;
	display: block;
	width: 4em;
	text-align: right;
	margin: 0em .5em 0em 0em;
}
.properties .map input[type="image"] {
	padding: .25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #f0faff;
}
.properties input {
	background-color: #f0faff;
}
.properties .map input[type="image"].selected {
	background-color: #e0eaf0;
	border: 1px solid #999999;
	padding: .25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.date-picker {
	border: none;
	cursor: default;
	background-image: url(../../media/dryicons/symbolize/16x16/calendar_full.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
}
.ui-datepicker-calendar {
    display: none;
}
#ui-datepicker-div {
	font-size: 80%;
}

#visport {
	text-align: center;
	margin: 1.5em 0em;
}
.controls {
	border: 1px solid #336699;
	width: 200px;
	margin: 1em auto;
	padding: .5em;
	overflow: visible;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #BED7FC;
	font-size: 78%;
}
.ui-slider-horizontal {
	display: inline-block;
	width: 90%;
	margin: .5em 0em;
}

.bookmark-link {
	margin-top: 3em;
	text-align: center;
	font-size: 78%;
}
.bookmark-link a {
	color: #999999;
	text-decoration: none;
}
.bookmark-link a:hover {
	text-decoration: underline;
}